<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm [formGroup]="registerForm" (ngSubmit)="login()">
                <h1>Login</h1>
                <p class="text-medium-emphasis">Sign In to your <svg cIcon name="cilHome"></svg>ccount
                  <c-badge color="danger" *ngIf="errorMessage">
                    {{errorMessage}}
                  </c-badge>
                  <c-badge color="success" *ngIf="sccuessMessage">
                    {{sccuessMessage}}
                  </c-badge>
                </p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="username" formControlName="username" cFormControl placeholder="Username" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input autoComplete="current-password" cFormControl placeholder="Password" type="password"
                    formControlName="password" />
                </c-input-group>                
                <div class="d-grid gap-1 d-md-block text-center">
                  <button cButton color="primary" class="me-md-2" type="submit">Login <svg cIcon name="cilArrowCircleRight"></svg></button>
                  <button cButton color="primary" routerLink="/register" >Register <svg cIcon name="cilSave"></svg></button>
                  <!-- <button cButton color="danger" variant="outline">Forget Password?</button> -->
                </div>
              </form>
            </c-card-body>
          </c-card>          
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>