<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
        <c-row class="justify-content-center">
            <c-col md="6">
                <c-card-group>
                    <c-card class="p-4">
                        <c-card-body>
                            <form cForm [formGroup]="registerForm">
                                <h1>Reset Password</h1>
                                <p class="text-medium-emphasis" *ngIf="!resetSuccess">Reset Password with registered
                                    e-mail
                                    <c-badge color="danger" *ngIf="errorMessage">
                                        {{errorMessage}}
                                    </c-badge>

                                    <c-badge color="success" *ngIf="sccuessMessage">
                                        {{sccuessMessage}}
                                    </c-badge>
                                </p>
                                <p class="text-medium-emphasis" *ngIf="resetSuccess">Password reset success!! Please
                                    login again..!</p>
                                <c-input-group class="mb-3" *ngIf="!resetSuccess">
                                    <span cInputGroupText>@</span>
                                    <input autoComplete="email" cFormControl formControlName="email" placeholder="Email"
                                        type="email" />
                                </c-input-group>
                                <c-input-group class="mb-3" *ngIf="openOTPForm">
                                    <span cInputGroupText>!</span>
                                    <input cFormControl formControlName="otp" placeholder="OTP" type="password" />
                                </c-input-group>
                                <c-input-group class="mb-3" *ngIf="openResetForm">
                                    <span cInputGroupText>
                                        <svg cIcon name="cilLockLocked"></svg>
                                    </span>
                                    <input autoComplete="new-password" cFormControl formControlName="password"
                                        placeholder="Password" type="password" />
                                </c-input-group>
                                <c-input-group class="mb-4" *ngIf="openResetForm">
                                    <span cInputGroupText>
                                        <svg cIcon name="cilLockLocked"></svg>
                                    </span>
                                    <input autoComplete="new-password" cFormControl formControlName="cpassword"
                                        placeholder="Repeat password" type="password" />
                                    <c-form-feedback [valid]="true">Looks good!</c-form-feedback>
                                </c-input-group>
                                <div class="d-grid gap-1 d-md-block text-center">
                                    <button cButton color="primary" class="me-md-2" type="submit" routerLink="/login"
                                        *ngIf="resetSuccess">Login <svg cIcon name="cilArrowCircleRight"></svg></button>
                                    <button cButton color="primary" class="me-md-2" type="submit" (click)="sendOTP()"
                                        *ngIf="!disableOTP">Send OTP</button>
                                    <button cButton color="primary" class="me-md-2" type="submit" (click)="submitOTP()"
                                        *ngIf="openOTPForm">Submit OTP</button>
                                    <button cButton color="primary" class="me-md-2" type="submit"
                                        (click)="resetPassword()" *ngIf="openResetForm">Reset Password</button>
                                </div>
                            </form>

                        </c-card-body>
                    </c-card>
                </c-card-group>
            </c-col>
        </c-row>
    </c-container>
</div>